<template name="header">
    <div id="masthead" class="">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="//placehold.it/160x90" class="img-responsive">
                            </div>
                            <div class="col-sm-6">

                                <p class=""><i>“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds.
                                    See the world.
                                    It’s more fantastic than any dream made or paid for in factories.”</i></p>
                                </br>
                                <p class="pull-right">- Ray Bradbury</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>